<h1>パスワード再設定</h1>

<h4>再設定依頼者</h4>
<p>お名前：<%= @user.name %>様</p>
<p>メールアドレス：<%= @user.email %></p>

<p>パスワード再設定のご依頼を受け付けました。</p>
<p>２時間以内に下記リンクからパスワードの再設定を完了してください。</p>

<%= link_to "パスワード再設定", edit_password_reset_url(@user.reset_token, email: @user.email) %>


<p>こちらのメールは配信専用のため返信できません。</p>
<p>お問い合わせは専用のページからお願いします。</p>

<%= link_to 'お問い合わせはこちら', new_contact_path%>