<div class="row">
  <%= form_for([@post, @comment], remote: true) do |f| %>
    <div class="form-group">
      <%= f.label :comment, 'コメント' %>
      <%= f.text_area :comment, size: '4x4', class:'form-control' %>
    </div>
  <%= f.submit '送信', class:'btn pull-right' %>
  <% end %>
</div>