<% if logged_in? %>
  <p>ログインユーザー：<%= current_user.name %></p>
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>favbooksへようこそ！</h1>
    </div>
  </div>
  <div class="text-center">
    <%= link_to 'ユーザー登録', signup_path %>
  </div>
<% end %>