<% if logged_in? %>
  <p>検索フォーム作る</p>
  <%= render 'posts/post', post:@posts %>
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>favbooksへようこそ！</h1>
    </div>
  </div>
  <%= render 'posts/post', post:@posts %>
  <div class="col-ms-6 col-xs-12">
  <%= link_to '投稿一覧へ', posts_path, class:'toppage-links' %>
  <%= link_to 'ユーザー登録', signup_path, class:'toppage-links' %>
  </div>
<% end %>