<div class="search">
  <div class="row">
    <%= form_tag(new_item_path, method: :get) do %>
      <div class="col-xs-8 col-xs-offset-1">
        <%= text_field_tag :title, @title, class: 'form-control', placeholder:'投稿する書籍を検索してください', size: 40 %>
      </div>
      <%= submit_tag '商品を検索', class: 'btn' %>
    <% end %>
  </div>
</div>

<%= render 'items', items: @items %>