@charset "utf-8";

body{
  background: #f5f5f5;
  font-family: 'Lato', 'Noto Sans Japanese', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

footer{
  margin-top:50px;
}

.cover {
  margin-top: -20px;
  margin-bottom: 20px;
  width: 100%;
  height: 400px;
  background: url("/images/favbooks.jpg") center center no-repeat;
  background-size: cover;
  display: table
}

.toppage-text{
  color: #fff;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  position: relative;
}

.toppage p{
  font-size:14px;
}

.toppage h3{
  margin-top:30px;
}

.toppage-text ul li{
  width:auto;
  margin:20px 120px;
  font-size:18px;
  display:inline-block;
}

.overview{
  font-size:14px;
}

.toppage-links{
  width:50%;
  margin:2px auto;
  font-size:18px;
  display:block;
  text-align :center;
  border:1px solid #00008b;
  border-radius: 10px;
}

.search{
  margin-bottom:10px;
}

.navbar-brand{
  font-size:24px;
}

.require-user-form{
  color:#FF3300;
  font-size:13px;
  margin-left:5px;
  vertical-align: top
}

div ul .panel{
  margin-bottom:7px;
}

div ul .panel .media .media-body p{
  margin-bottom:3px;
}

.post-user-name{
  margin-top:0;
  font-size:18px;
}

.main{
  background: #f8f8ff;
}

.main-content{
  padding:5px;
  margin: 5px 35px;
  background:#dcdcdc;
  border-radius:10px;
  font-size:14px;
}

.btn-toolbar .btn{
  margin:5px;
}

.glyphicon-star{
  color:gold;
}

.favorite-btn{
  background:#FFFF88;
}

.glyphicon-star-empty{
  color:#a9a9a9;
}

.edit-page{
  margin:8px 0 0 6px;
}

.edit-page .glyphicon{
  margin-right:10px;
}

div ul .glyphicon-star{
  color:gold;
}

div ul .glyphicon-book{
  color:brown;
}

div ul li{
  font-size:16px;
}

.btn {
    position: relative;
    display: inline-block;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: #fd9535;
    border-bottom: solid 2px #d27d00;
    border-radius: 4px;
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
}

.btn:active {
    border-bottom: solid 2px #fd9535;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

.edit-btn {
    position: relative;
    display: inline-block;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: #fd9535;
    border-bottom: solid 2px #d27d00;
    border-radius: 4px;
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
}

.edit-btn:active {
    border-bottom: solid 2px #fd9535;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

.delete-btn {
    position: relative;
    display: inline-block;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: #dc143c;
    border-bottom: solid 2px  #a52a2a;
    border-radius: 4px;
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
}

.delete-btn:active {
    border-bottom: solid 2px #dc143c;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

.index-btn{
  margin:2px 10px 5px 0;
  width: 60px;
  text-align: center;
  font-size:13px;
}

.user-show-nav{
  margin-bottom:10px;
}

/* search */
.search {
  margin-bottom: 20px;
}

/* item */
.item .panel-body {
  height: 70px;
}
.item .panel-heading {
  height: 250px;
}
.item .panel-heading img {
  height: 100%;
  max-width: 100%;
}
p.item-title {
  /* 文の行数を2行に保ち、最後に ... を追加するスタイル */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}