@charset "utf-8";


/*全体*/

body{
  background: #FFFFFF;
  font-family: 'Lato', 'Noto Sans Japanese', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

footer{
  margin-top:120px;
}

footer li{
  margin: 0 8px;
}

h1{
  margin:0 0 30px 0;
}
.nav-links{
  font-size:14px;
}

.navbar{
  background:#003333;
}

.navbar img{
  width: 80%;
}

.cover {
  margin-top: -20px;
  margin-bottom: 20px;
  width: 100%;
  height: 600px;
  background: url("/images/favbooks.jpg") center center no-repeat;
  background-size: cover;
  display: table
}

/*トップページ*/

.toppage-text{
  color: #fff;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  position: relative;
  font-size: 16px
}

.toppage p{
  font-size:16px;
}

.toppage h2{
  margin-top: 80px;
}

.toppage-text ul li{
  width:auto;
  margin:20px 120px;
  font-size:18px;
  display:inline-block;
}

.posts-search {
    position: relative;
    margin: 1em 1em 2em;
    padding-top:  1em;
    padding-bottom: 0.1em;
    border: solid 3px #002200;
    border-radius: 8px;
}

.posts-search .box-title {
    position: absolute;
    display: inline-block;
    top: -13px;
    left: 10px;
    padding: 0 9px;
    line-height: 1;
    font-size: 19px;
    background: #FFF;
    color: #002200;
    font-weight: bold;
}

.posts-search select{
  height: 34px;
  font-size: 15.7px;
  padding-top: 2px;
}

.posts-search .commit{
  margin-top: 26px;
  margin-bottom: 3px;
}

.posts-search a{
  font-size: 15.5px;
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #BBBBBB;
  background: #EEEEEE;
  border-bottom: solid 2px#CCCCCC	;
  border-radius: 4px;
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
}

.posts-search a:hover {
  background: #FFFFAA;
  color: #888888;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

.posts-search a:active {
  margin-top: 1.4px;
  border-bottom: solid 2px #FFFF55;
}

.posts-search .search-btn{
  margin-left:40px;
  height:32px;
  width: 130px;
  font-size: 16px;
}

.overview{
  font-size:14px;
}

.toppage-links{
  width:37%;
  height: 30px;
  margin:40px auto;
  font-size:20px;
  display:block;
  text-align :center;
  border:1px solid #00008b;
  border-radius: 10px;
}

.navbar-brand{
  font-size:24px;
}

.require-form{
  color:#FF3300;
  font-size:13px;
  margin-left:5px;
  vertical-align: top
}

div ul .panel{
  margin-bottom:7px;
}


/*投稿詳細*/

.post-user-name{
  margin-top:0;
  font-size:18px;
}

.main-content{
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #5d627b;
  background: white;
  border-top: solid 5px #004400;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
  font-size:15px;
}

.title-index-link{
  font-size: 16px;
  font-weight: bold;
  margin-top: 0
}

.btn-toolbar .btn{
  margin:5px;
}

.posts-back {
  font-size: 16px;
  padding-top: 10px;
}

.edit-page{
  margin:8px 0 0 6px;
}

.edit-page .glyphicon{
  margin-right:10px;
}

div ul .glyphicon-book{
  color:brown;
}

div ul li{
  font-size:16px;
}

/*ボタン関連*/

.btn {
    position: relative;
    display: inline-block;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: #fd9535;
    border-bottom: solid 2px #d27d00;
    border-radius: 4px;
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
}

.btn:hover {
  background: #FF773E;
  box-shadow: 0 0 2px rgba(0, 0, 0, 1);
}

.btn:active {
  margin-top: 1.4px;
  border-bottom: solid 2px #fd9535;
}

.edit-btn {
    position: relative;
    display: inline-block;
    padding: 0.18em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: #fd9535;
    border-bottom: solid 2px #d27d00;
    border-radius: 4px;
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
}

.edit-btn:active {
    border-bottom: solid 2px #fd9535;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

.delete-btn {
    position: relative;
    display: inline-block;
    padding: 0.18em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: #dc143c;
    border-bottom: solid 2px  #a52a2a;
    border-radius: 4px;
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
}

.delete-btn:active {
    border-bottom: solid 2px #dc143c;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

.fav-btn {
    position: relative;
    display: inline-block;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFFF66;
    background: #fd9535;
    border-bottom: solid 2px #d27d00;
    border-radius: 4px;
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
}



.unfav-btn {
    position: relative;
    display: inline-block;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #444444;
    background: #DDDDDD;
    border-bottom: solid 2px #BBBBBB;
    border-radius: 4px;
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
}

.index-btn{
  margin:2px 10px 5px 0;
  width: 60px;
  text-align: center;
  font-size:13px;
}

.user-show-nav{
  margin-bottom:10px;
}

.new-book-title{
  margin: 2px auto 2px 10px;
}

/*新規投稿アイテム選択*/

.item-search{
  margin-top: 10px;
  margin-bottom: 27px
}

.item .panel-body {
  height: 80px;
  padding-top: 5px;
}

.item .panel-heading {
  height: 250px;
}

.item .panel-heading input {
  height:230px;
  width: 180px;
}

p .item-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.posts-show-item .panel{
 width: 130%;
 margin-top: 30%;
}

.posts-show-item .panel-body{
  height: auto
}

.posts-show-item .panel-heading img{
  height:70%;
  width: 70%;
}

.profile-edit {
  margin: 10px 0;
}

.checkbox-inline {
  margin-top: -10px;
  margin-bottom:10px;
}

.reset-maile-send small{
  margin-left:5px;
}

.reset-maile-send label{
  margin-top: 10px;
  margin-bottom: 30px;
}

.reset-maile-send .form-control{
  width: 50%
}

.reset-maile-send .reset-link{
  margin-top:30px;
  margin-bottom: 0;
}

.reset-maile-send p{
  margin: 0;
}

.password-reset-link{
  margin-left:10px;
  vertical-align: baseline}

/*ネタバレ関係*/

.netabare{
  color :#dc143c;
  margin: 4px 0 0 1px ;
}

.netabare-check {
  margin-top:18px;
  border-bottom: solid 1px 	#DDDDDD;
  display: inline-block;
}

.netabare-check input[type=checkbox] {
    width: 19px;
    height: 19px;
    vertical-align: bottom;
}

.netabare-check span{
  font-size: 17px;
  color: red;
  vertical-align: bottom;
  margin-left:5px;
}


/*投稿一覧表示*/

.box8 {
    padding: 0.5em 1em;
    margin: 15px;
    color: #232323;
    background: #fff8e8;
    border-left: solid 10px #ffc06e;
    border-top: solid 1px #FF9900;
    border-right: solid 1px #FF9900;
    border-bottom: solid 1px #FF9900;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}
.box8 p {
    margin-top: 10px 
}

.media {
  padding: 5px;
}

.media h4{
  font-size: 16px;
  margin-top: 10px
}

.media h4 span{
  font-size: 16px;
  font-weight: bold;
  color: #dc143c;
  margin-left: 10px;
}

.media img{
  height: 150px;
  width: 120px;
  margin-top: auto;
}

.media-body a{
  position: relative;
}

.content-top{
  display: inline-block
}

.content-top p{
  margin-bottom: 0;
  font-size: 15px;
}


/*確認ページ*/

.netabare-confirm{
  font-size:18px;
  font-weight: bold;
  color :#dc143c;
}

.confirm label{
  margin-top:13px;
}

.confirm .genre{
  font-size:16px;
  font-weight: bold;
  margin-left: 10px;
}


/*利用規約*/

.agreement h2{
  margin-top: 30px
}

.agreement p{
  font-size: 15px;
}

.agreement ul{
  list-style: none;
}

.agreement li{
  font-size: 15px;
}
