@charset "utf-8";

.navbar{
  background-color: #800000;
}

.main-content{
  background:#dcdcdc;
  border-radius:10px;
}

.main-content p{
  margin:10px;
  font-size:14px;
}

.btn-toolbar .btn{
  margin:5px;
}

.glyphicon-star{
  color:gold;
}

.glyphicon-star-empty{
  color:#a9a9a9;
}

.edit-page{
  margin:8px 0 0 6px;
}

.edit-page .glyphicon{
  margin-right:10px;
}

div ul .glyphicon-star{
  color:gold;
}

div ul .glyphicon-book{
  color:brown;
}

div ul li{
  font-size:16px;
}
